[submodule "vendor/micropython"]
	path = vendor/micropython
	url = https://github.com/micropython/micropython
	ignore = dirty
[submodule "vendor/microdot"]
	path = vendor/microdot
	url = https://github.com/miguelgrinberg/microdot.git
	ignore = dirty
